@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

:root {
    --primary-color: #f0f0f0;

    --primary-bg-color: #111217;
    --secondary-bg-color: #28292e;
    --border-color: #28292e;

    --title-color: #9a9a9c;
    --text-color: #9a9a9c;
    --link-color: #9a9a9c;
    --icon-color: #c7c8c9;
}

body {
    background: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

i {
    color: var(--icon-color);
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.header__brand .brand__logo {
    width: 7rem;
    height: 4rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu--mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.menu__item {
    width: 100%;
}

.menu__icon, .menu__text {
    color: var(--text-color);
}

.menu__link.active .menu__icon, 
.menu__link.active .menu__text {
    color: var(--primary-color);
    font-weight: 600;
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .menu--mobile {
        display: none;
    }    
}