@import url('global.css');
@import url('reset.css');

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  z-index: 2;
}

.header__toggle {
  display: flex;
  justify-content: flex-end;
}

.header__brand .brand__logo {
  width: 7rem;
  height: 4rem;
}

.header__brand .brand__logo:hover,
#toggleTheme:hover {
    scale: calc(1.1);
    transition: .3s ease-in-out;
}

#toggleTheme {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: ease-in-out .4s;
}

.menu {
  display: flex;
  align-items: center;
  background: var(--primary-bg-color);
}

.menu__item {
  width: 100%;
}

.menu__link {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.menu--mobile {
  width: 100vw;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  border-top: 1px solid var(--primary-border-color);
}

.menu--mobile .menu__link {
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.menu__link.active .menu__icon, 
.menu__link.active .menu__text,
.menu__link:hover .menu__text {
  color: var(--primary-color);
}

.menu__icon, .menu__text {
  color: var(--text-color);
}

.menu__icon {
  font-size: 1.5rem;
}

.menu__link:hover .menu__icon, 
.menu__link:hover span {
    scale: calc(1.1);
    transition: .3s ease-in-out;
}

.menu__link:hover .bi-github {
    color: var(--primary-color);
}

.menu__link:hover .bi-linkedin {
    color: #0e76a8;
}

.menu__link:hover .bi-whatsapp {
    color: #25d366;
}

.menu__link:hover .bi-discord {
    color: #7289da;
}

.menu__text {
  font-size: .75rem;
  text-transform: uppercase;
}

.header__nav {
  display: none;
}

.menu--principal {
  gap: 1rem;
}

.menu--social {
  gap: 1rem;
  background: none;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  background: transparent;
  border-radius: 3.125rem;
  border: none;
  padding: 0.875rem 1.5rem;
  transition: ease-in-out .3s;
  cursor: pointer;
  color: var(--primary-color);
  margin-top: 10px;
}

.btn:hover {
  transform: scale(1.05);
  transition: ease-in-out .3s;
}

.btn span, .btn i {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.btn--primary span {
  color: var(--primary-color);
}

.btn--primary {
  border: 1px solid var(--primary-color);
}

main, .projects, .about, .contact {
  padding: 2.5rem 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-image: url("../images/Rio 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main__content1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.technologies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  padding: 6.25rem 1rem 2rem;
  background: var(--secondary-bg-color);
  margin-top: -5.5rem;
}

.technologies h2 {
  font-size: 2rem;
  text-transform: none;
  letter-spacing: normal;
  text-align: start;
}

.technologies__list {
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;
}

.technologies__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--secondary-border-color);
  border-radius: 50rem;
}

.technologies__logo {
  height: 2.4rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.projects__card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card__cover {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
}

.card__description {
  color: var(--title-color);
}

.card__list, .about__list {
  margin-left: 1.25rem
}

.card__item, .about__item {
  list-style: disc;
}

.card__buttons, .description__buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card__buttons .btn {
  padding: .65rem 1.25rem;
}

.card__buttons .btn span {
    font-size: 1rem;
}

.card__body .technologies__list {
  gap: .75rem;
}

.card__body .technologies__item {
  width: 4rem;
  height: 4rem;
}

.card__body .technologies__logo {
  height: 2rem;
}

.projects .btn {
  width: auto;
  margin: auto;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about__content1, .about__content2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.about__photo {
  width: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  border-radius: 50rem;
  border: 1px solid var(--primary-border-color);
}

.about__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.about__icons {
  display: flex;
  align-items: center;
  gap: .85rem;
}

.about__icons i {
  font-size: 1.25rem;
}

.about__content2 .col1, 
.about__content2 .col2 {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 2rem;
}

.about__content2 .col1 .row1,
.about__content2 .col1 .row2 {
  display: flex;
  flex-direction: column;
  gap: .5rem; 
}

.accordion__header {
  width: 100%;
  display: flex;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--primary-border-color);
  background: transparent;
  text-align: left;
  cursor: pointer;
  transition: ease-in-out .3s;
}

.accordion__header span {
  color: var(--title-color);
}

.accordion__header.start {
  border-radius: 0.25rem 0.25rem 0rem 0rem;
}

.accordion__header.end,
.accordion__item.active .accordion__body.end {
  border-radius: 0rem 0rem 0.25rem 0.25rem;
}

.accordion__item.active .accordion__header.end{
  border-radius: 0;
}

.accordion__body {
  display: none;
  padding: 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  border: 1px solid var(--primary-border-color);
  }

.accordion__item.active .accordion__header {
  background: var(--secondary-bg-color);
}

.accordion__item.active .accordion__body {
  display: flex;
}

.accordion__item.active .bi-caret-down-fill {
  transform: rotate(180deg);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-top: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
  background-image: url("../images/Rio 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact p, 
.contact span{
  text-align: center;
  color: var(--title-color);
}

.contact .btn {
  width: auto;
}

.contact .email {
  text-transform: lowercase;
}

footer {
  margin-bottom: 5rem;
}

footer p {
  font-size: .875rem;
  text-align: center;
  padding: 1rem;
}

#home .main__content1 .texto-dinamico {
    text-wrap: nowrap;
}

#home .main__content1 .texto-dinamico h2 {
    color: var(--primary-color);
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: cursor 30s ease-in-out infinite;
    font-size: 1rem;
}
  
@keyframes cursor {
    0%, 25%, 50%, 75%, 100% {
      width: 0;
    }
    5%, 12.5%, 37.5%, 62.5%, 87%, 100% {
      width: 100vw;
    }
  
    0%, 25% {
      content: "Desenvolvedor Full-stack";
    }
    26%, 50% {
      content: "Desenvolvedor BackEnd";
    }
    51%, 75% {
      content: "Desenvolvedor FrontEnd";
    }
    75%, 100% {
      content: "Desenvolvedor Full-stack";
    }
}
  
#home .main__content1 .texto-dinamico h2::before {
    content: "";
    animation: troca-texto 30s ease-in-out infinite;
}
  
@keyframes troca-texto {
    0%, 25% {
      content: "Desenvolvedor Full-stack";
    }
    26%, 50% {
      content: "Desenvolvedor Backend";
    }
    51%, 75% {
      content: "Desenvolvedor Frontend";
    }
    76%, 100% {
      content: "Desenvolvedor Full-stack";
    }
}

@media (min-width: 768px) {
  .header {
    position: fixed;
    border-bottom: 1px solid var(--primary-border-color);
    padding: 1rem 6rem;
    background: var(--primary-bg-color);
  }

  .nav--mobile {
    display: none;
  }

  .header__nav {
    display: flex;
  }

  .header__nav,
  .header__toggle {
    min-width: 30%;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  main, .projects, .about {
    padding: 8rem 6rem 4rem 6rem;
  }

  .contact {
    padding: 6rem;
  }
  .contact p {
    width: 80%;
  }

  .main__content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .technologies {
    padding: 6.25rem 6rem 2rem 6rem;
    margin-top: -6rem;
  }

  footer {
    margin: 0;
  }

  #home .main__content1 .texto-dinamico h2 {
    font-size: 3rem;
  }

  .btn {
    margin-right: 10px;
    }

}

@media (min-width: 992px) {
  .projects__card {
    flex-direction: row;
  }

  .projects__card.card--reverse {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .card__cover {
    width: 50%;
  }

  .about {
    gap: 5rem;
  }

  .about__content1, .about__content2 {
    display: grid;
    grid-template-columns: 34% 60%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
  }

  .about__description h2 {
    text-align: left;
  }

  .description__buttons {
    justify-content: flex-start;
  }
}

@media (min-width: 1200px) {

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  main {
    padding: 12rem 6rem 2rem;
  }

  .main__content1 .btn {
    width: auto;
  }

  .technologies {
    flex-direction: row;
    justify-content: space-between;
    padding: 10rem 6rem 4rem;
  }

  .technologies h2 {
    font-size: 3rem;
    width: 55%;
  }

  .technologies__list {
    gap: 1rem;
  }

  .technologies__item {
    width: 6rem;
    height: 6rem;
  }
  
  .technologies__logo {
    height: 3rem;
  }

  p, span, li {
    font-size: 1.15rem;
  }

  .card__buttons .btn,
  .description__buttons .btn {
    width: auto;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 6.25rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 3.25rem;
  }

  .header {
    padding: 1rem 15rem;
  }

  main {
    padding: 12rem 15rem 2rem;
  }
  
  .technologies, .projects, .about {
    padding: 10rem 15rem 4rem;
  }

}