@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

:root, :root[data-theme='dark'] {
    --primary-color: #f0f0f0;

    --primary-bg-color: #111217;
    --secondary-bg-color: #28292e;
    --border-color: #28292e;

    --title-color: #9a9a9c;
    --text-color: #9a9a9c;
    --link-color: #9a9a9c;
    --icon-color: #c7c8c9;
}

:root[data-theme='light'] {
    --primary-color: #0b0b0f;

    --primary-bg-color: #e9e9e9;
    --secondary-bg-color: #c7c8c9;
    --border-color: #c7c8c9;

    --title-color: #0b0b0f;
    --text-color: #28292e;
    --link-color: #28292e;
    --icon-color: #56575a;
}

body {
    background: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--primary-color);
    font-weight: 600;
}

i {
    color: var(--icon-color);
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100vw;
}

.header__toggle {
    display: flex;
    justify-content: flex-end;
}

.header__brand .brand__logo {
    width: 7rem;
    height: 4rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu--mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.menu__item {
    width: 100%;
}

.menu__icon, .menu__text {
    color: var(--text-color);
}

.menu__link.active .menu__icon, 
.menu__link.active .menu__text,
.menu__link:hover .menu__icon, 
.menu__link:hover .menu__text {
    color: var(--primary-color);
    font-weight: 600;
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;
}

.header__nav {
    display: none;
}

.menu--principal {
    gap: 1rem;
}

footer {
  margin-bottom: 5rem;
}

footer p {
  font-size: .875rem;
  text-align: center;
  padding: 1rem;
}

@media (min-width: 768px) {
    .header {
        position: fixed;
        border-bottom: 1px solid var(--border-color);
        padding: 1rem 4rem;
        background-color: var(--primary-bg-color);
    }
    
    .nav--mobile {
        display: none;
    }    

    .header__nav {
        display: flex;
    }

    .header__nav,
    .header__toggle {
        width: 30%;
    }

    footer {
        margin: 0;
    }
}

@media (min-width: 1400px) {
    .header {
        padding: 1rem 15rem;
    }
}

