@import url('global.css');
@import url('main.css');
@import url('reset.css');

@media (min-width: 768px) {
  .header {
    position: fixed;
    border-bottom: 1px solid var(--primary-border-color);
    padding: 1rem 6rem;
    background: var(--primary-bg-color);
  }

  .nav--mobile {
    display: none;
  }

  .header__nav {
    display: flex;
  }

  .header__nav,
  .header__toggle {
    min-width: 30%;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  main, .projects, .about {
    padding: 8rem 6rem 4rem 6rem;
  }

  .contact {
    padding: 6rem;
  }
  .contact p {
    width: 80%;
  }

  .main__content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .technologies {
    padding: 6.25rem 6rem 2rem 6rem;
    margin-top: -6rem;
  }

  footer {
    margin: 0;
  }

  #home .main__content1 .texto-dinamico h2 {
    font-size: 3rem;
  }

  .btn {
    margin-right: 10px;
    }

}

@media (min-width: 992px) {
  .projects__card {
    flex-direction: row;
  }

  .projects__card.card--reverse {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .card__cover {
    width: 50%;
  }

  .about {
    gap: 5rem;
  }

  .about__content1, .about__content2 {
    display: grid;
    grid-template-columns: 34% 60%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
  }

  .about__description h2 {
    text-align: left;
  }

  .description__buttons {
    justify-content: flex-start;
  }
}

@media (min-width: 1200px) {

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  main {
    padding: 12rem 6rem 2rem;
  }

  .main__content1 .btn {
    width: auto;
  }

  .technologies {
    flex-direction: row;
    justify-content: space-between;
    padding: 10rem 6rem 4rem;
  }

  .technologies h2 {
    font-size: 3rem;
    width: 55%;
  }

  .technologies__list {
    gap: 1rem;
  }

  .technologies__item {
    width: 6rem;
    height: 6rem;
  }
  
  .technologies__logo {
    height: 3rem;
  }

  p, span, li {
    font-size: 1.15rem;
  }

  .card__buttons .btn,
  .description__buttons .btn {
    width: auto;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 6.25rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 3.25rem;
  }

  .header {
    padding: 1rem 15rem;
  }

  main {
    padding: 12rem 15rem 2rem;
  }
  
  .technologies, .projects, .about {
    padding: 10rem 15rem 4rem;
  }

}